@media (max-width: 608px) {
    .restBot{
        flex-direction: column;        
        height: 120px;
    }
    .restBot>.left{
        height: 50px;
        width: 90%;
        border-bottom: 5px #71265b solid;
        justify-content: space-between;
    }
    .restBot>.right{
        height: 50px;
        width: 90%;
        justify-content: space-between;
    }
}

@media (max-width: 430px) {
    .bannerMain>h1 {
        font-size: 1.3rem;
    }
    .content>.left{
        display: none !important;
    }
    .content>#formCadastro {
        width: 90% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .receber {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .funcionaBottom {
        height: 550px !important;
        justify-content: space-around;
    }
    .funcionaCard {
        width: 45% !important;
        height: 49% !important;

        margin: 0 !important;
    }
    .funcionaCard p {
        font-size: 0.5rem !important;
    }
    .funcionaCard span {
        width: 25px !important;
        height: 25px !important;
    }

    .indicarLeft h1 {
        font-size: 1.2rem !important;
    }
 
    .restMain {
        width: 95% !important;
    }
    .restMain>.restTop {
        flex-direction: row !important;
        height: 250px !important;
        align-items: flex-start !important; 
        justify-content: space-around !important;
        padding-top: 5%;
    }
    .restTop>.list {
        width: 47% !important;
        height: 90% !important;
        flex-direction: column;
        align-items: flex-start !important;
    }
    .list>.divLeft {
        
        justify-content: left !important;
    }
    .restTop>.bot {
        margin: 0 !important;
        flex-direction: column;
        height: 60%;
        justify-content: space-around !important;
    
    }
    .hiddenmenu {
        display: flex !important;
        margin-left: 5%;
        font-size: 1rem;
        font-weight: 700;
    }
    .hidden {
        display: flex !important;
    }
    .list>.restLogo{
        margin-top: 5px !important;
    }
    .restBot>.right {
        margin: 0 !important;
        height: 70px;
        justify-content: space-around;
        flex-direction: column !important;
    }
    .reservDiv h3 {
        margin-left: 5px;
        font-size: 0.6rem !important;
    }
}

@media (max-width: 350px) {
    .funcionaBottom{
        height: 500px !important;
    }
    .funcionaCard {
        width: 49% !important;
        height: 47% !important;
    }
}